@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/fonts.css */
@font-face {
  font-family: 'MinecraftFont';
  src: url('/fonts/Minecraft_CN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* smooth scroll */
html {
  scroll-behavior: smooth;
}

/* custom styles */

/* 自定义类 */
.pre-wrap {
  white-space: pre-wrap;
}

.glass{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  /* border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}